/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
  .content-section {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .logo i {
    font-size: 40px;
  }

  #Banner .content-wrap h1 {
    font-size: 36px;
  }

  #Banner .content-wrap h3 {
    font-size: 20px;
  }

  .btn-xl {
    padding: 15px 30px;
  }

  .content-section-heading h2 {
    font-size: 30px;
  }

  #Portfolio .portfolio-wrapper .each-portfolio {
    float: none;
    margin: 0 auto 20px;
    width: 100%;
    display: block;
  }

  #customers-testimonials .item {
    margin-bottom: 0;
  }

  #Contact .contact-wrapper {
    border-right: none;
    margin-right: 0;
    padding: 0;
  }

  #Contact .contact-wrapper span {
    font-size: 18px;
  }

  .address-block,
  #Contact .address-block.border-bottom {
    margin-bottom: 40px;
    padding: 0 15px 30px;
  }

  footer.footer .social-link {
    height: 50px;
    width: 50px;
    font-size: 18px;
  }

  .owl-nav {
    display: none !important;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
  .logo i {
    font-size: 40px;
  }

  .content-section {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  #Banner .content-wrap h1 {
    font-size: 36px;
  }

  #Banner .content-wrap h3 {
    font-size: 20px;
  }

  .btn-xl {
    padding: 15px 30px;
  }

  .content-section-heading h2 {
    font-size: 30px;
  }

  #Portfolio .portfolio-wrapper .each-portfolio {
    float: none;
    margin: 0 auto 20px;
    width: 100%;
    display: block;
  }

  #customers-testimonials .item {
    margin-bottom: 0;
  }

  #Contact .contact-wrapper {
    border-right: none;
    margin-right: 0;
    padding: 0;
  }

  #Contact .contact-wrapper span {
    font-size: 18px;
  }

  .address-block,
  #Contact .address-block.border-bottom {
    margin-bottom: 40px;
    padding: 0 15px 30px;
  }

  footer.footer .social-link {
    height: 50px;
    width: 50px;
    font-size: 18px;
  }

  .owl-nav {
    display: none !important;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
  .content-section {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  #Banner .content-wrap h1 {
    font-size: 40px;
  }

  #Banner .content-wrap h3 {
    font-size: 24px;
  }

  .btn-xl {
    padding: 20px 30px;
  }

  .content-section-heading h2 {
    font-size: 30px;
  }

  #Contact .contact-wrapper span {
    font-size: 16px;
  }

  footer.footer .social-link {
    height: 50px;
    width: 50px;
    font-size: 18px;
  }

  .owl-nav {
    display: none !important;
  }

  #Contact .c-icon {
    margin-right: 10px;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
  .content-section {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  #Banner .content-wrap h1 {
    font-size: 40px;
  }

  #Banner .content-wrap h3 {
    font-size: 24px;
  }

  .btn-xl {
    padding: 20px 30px;
  }

  .content-section-heading h2 {
    font-size: 30px;
  }

  #Contact .contact-wrapper span {
    font-size: 16px;
  }

  footer.footer .social-link {
    height: 50px;
    width: 50px;
    font-size: 18px;
  }

  .owl-nav {
    display: none !important;
  }

  #Contact .c-icon {
    margin-right: 10px;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

.file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #6d62e4;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #6d62e4;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #6d62e4;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #6d62e4;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #6d62e4;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}
